<section class="hero is-primary is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">Contact Us!</h1>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">

        <!-- Contact form -->
        <form>
            <!-- Name -->
            <div class="field">
                <label class="label">Name</label>
                <input type="text" name="name" class="input">
            </div>
            <!-- Email -->
            <div class="field">
                <label class="label">Email</label>
                <input type="email" name="email" class="input">
            </div>
            <!-- Message -->
            <div class="field">
                <label class="label">Your Message</label>
                <textarea name="message" class="textarea"></textarea>
            </div>
            <!-- Submit button -->
            <button type="submit" class="button is-large is-warning">
                Send!
            </button>
            
        </form>

    </div>
</section>
